# Окружение Poetry и виртуальные среды
.venv/
venv/
ENV/
.env
.coverage
# Файлы настроек PyCharm
.idea/

# Служебные файлы Python
__pycache__/
*.py[cod]
*$py.class

# Медиа файлы и базы данных (чтобы локальная база не улетела в сеть)
*.sqlite3
media/